// global assets
:root {
	--asset-thick-arrow: url('/memory/assets/icons/thick-arrow.svg');
	--asset-chess-pawn-end: url('/memory/assets/images/chess-pawn-end.png');
	--asset-chess-pawn: url('/memory/assets/icons/chess_pawn.png');
}