@use '../abstract/mixin' as mixin;
@use '../abstract/variables' as vars;

body {
    @include mixin.flex-center;
}

.game {
    @include mixin.flex-column;

    width: 80%;
    max-width: 1580px;
    gap: 54px;
    margin-top: 41px;

    &:has(.game__table[data-size="36"]) {
        margin-top: 5px;
    }
}

header {
    @include mixin.flex(row, space-between, flex-end);
    width: 100%;

    & .standings {
        @include mixin.flex(row, center, center);

        &__player {
            @include mixin.flex(row, center, center);
        }
    }
}

.game__table {
    display: grid;
    gap: 8px;

    &[data-size="16"] {
        grid-template-columns: repeat(4, 1fr);
    }

    &[data-size="24"] {
        grid-template-columns: repeat(6, 1fr);
    }

    &[data-size="36"] {
        grid-template-columns: repeat(6, 1fr);
    }

    & .card {
        aspect-ratio: 3 / 4;
        width: 120px;
        height: 120px;
        cursor: pointer;

        &__inner {
            position: relative;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: transform 0.6s ease;
        }

        &--flipped .card__inner {
            transform: rotateY(180deg);
        }

        &__back,
        &__front {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__front {
            transform: rotateY(180deg);
        }
    }
}