@use '../abstract/mixin' as mixin;
@use '../abstract/variables' as vars;

.game-over {
    @include mixin.flex-column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    max-width: 1580px;
    gap: 72px;
    font-family: Red-Rose-Bold;

    & h1 {
        font-size: 84px;
        font-weight: 700;
    }

    & .score-wrapper {
        @include mixin.flex(column, center, center);
        gap: 24px;

        & .score {
            font-family: Red-Rose-Regular;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: 0%;
            font-size: 26px;
            color: white;
        }
    }

    & .standings {
        width: auto;
        display: flex;
    }
}