@use '../abstract/mixin' as mixin;
@use '../abstract/variables' as var;

body {
    overflow: hidden;
}

.opening {
    width: 100%;
    height: 100vh;
    background-color: rgb(47, 49, 49);
    @include mixin.flex-column;
    gap: 40px;

    &__text {
        color: white;
        @include mixin.flex-column(column-reverse, center, start);

        & h1 {
            font-family: Red-Rose-Bold;
            font-size: 140px;
        }

        & h2 {
            font-family: Almarai;
            font-size: 48px;
            font-weight: 200;
        }
    }

    &__button--align {
        color: #303131;
        font-size: 40px;
        font-family: Red-Rose-Bold;
        padding: 24px;
        cursor: pointer;
        border: none;
        background-color: #F0EA6E;
        @include mixin.flex-center;
        gap: 20px;
        transition: transform 0.22s cubic-bezier(0.22, 1, 0.36, 1);

        & svg:first-child {
            width: 50px;
            transform: rotate(0deg);
            transform-origin: center;
            transition: transform 0.22s cubic-bezier(0.22, 1, 0.36, 1);
        }

        &:hover {
            transform: scale(1.02);

            & svg:first-child {
                transform: rotate(-30deg);
            }

            & .arrow {
                width: 36px;
                content: url(./src/assets/icons/thick-arrow.svg);
            }
        }
    }
}

.controller-image {
    position: absolute;
    left: -40px;
    bottom: 70px;
    transform: rotate(37deg);
    opacity: 0.05;

    &__svg {
        width: 380px;
        color: #F0EA6E;
    }
}