@use '../abstract/mixin' as mixin;
@use '../abstract/variables' as vars;

body.code-vibes {
    background-color: vars.$primary-dark;

    & header {
        font-family: Red-Rose-Bold;

        & .standings {
            font-size: 20px;
            background-color: vars.$cv-standings-bg;
            padding: 17px 20px;
            gap: 20px;

            &__player {
            gap: 4px;

                &--blue {
                    color: vars.$cv-blue;
                }

                &--orange {
                    color: vars.$cv-orange;
                }

                & .--label {
                    background-color: currentColor;
                    display: inline-block;
                    width: 24px;
                    height: 20px;
                    border-radius: 4px;

                    clip-path: polygon(0 0,
                            calc(100% - 8px) 0,
                            100% 50%,
                            calc(100% - 8px) 100%,
                            0 100%);
                }
            }
        }

        & .current-player {
            font-size: 26px;
            font-family: Red-Rose-Regular;
            color: white;
        }
    }
}