@use '../abstract/mixin' as mixin;
@use '../abstract/variables' as vars;

body.code-vibes {
    background-color: vars.$primary-dark;

    & header {
        font-family: Red-Rose-Bold;

        & .standings {
            font-size: 20px;
            background-color: vars.$cv-standings-bg;
            padding: 17px 20px;
            gap: 20px;

            &__player {
                gap: 4px;

                &--blue {
                    color: vars.$cv-blue;
                }

                &--orange {
                    color: vars.$cv-orange;
                }

                & .--label {
                    background-color: currentColor;
                    display: inline-block;
                    width: 24px;
                    height: 20px;
                    border-radius: 4px;

                    clip-path: polygon(0 0,
                            calc(100% - 8px) 0,
                            100% 50%,
                            calc(100% - 8px) 100%,
                            0 100%);
                }
            }
        }

        & .current-player {
            font-size: 26px;
            font-family: Red-Rose-Regular;
            color: white;
        }

        & button {
            @include mixin.flex(row, center, center);
            gap: 10px;
            background-color: vars.$cv-exit-btn-bg;
            border: vars.$cv-exit-btn-border;
            border-radius: 1px;
            padding: 16px 24px;
            color: white;
            font-family: Red-Rose-Bold;
            font-size: 20px;
            cursor: pointer;

            & img {
                width: 24px;
                height: 24px;
                filter: brightness(0) invert(1);
            }

            &:hover {
                background-color: vars.$cv-exit-btn-hover-bg;
                outline: vars.$cv-exit-btn-hover-border;
                box-shadow: vars.$cv-exit-btn-hover-shadow;
            }
        }
    }

    & .card {
        &__back {
            background: vars.$cv-card-back-bg;

            & img {
                width: 50%;
                opacity: 0.85;
            }
        }

        &__front {
            background-color: vars.$cv-card-front-bg;
        }

        &--state {
            border: vars.$cv-card-state-border;
            box-shadow: vars.$cv-card-state-shadow;
        }
    }
}