@use '../abstract/mixin' as mixin;
@use '../abstract/variables' as vars;

body.games-theme {
    background-color: vars.$game-theme-bg;

    & header {
        @include mixin.flex(row, space-between, center);
        color: white;
        font-size: 32px;
        font-family: Orbitron;
        font-weight: 700;
        background-color: vars.$gt-header-bg;
        padding: 24px;
        border-radius: 10px;

        // display none for code vibes standings
        & .standings__player .--cv-standings {
            display: none;
        }

        & .standings {
            @include mixin.flex(row, center, center);
            background-color: white;
            border-radius: 10px;
            gap: 40px;
            padding: 0 16px;

            &__player {

                & .--gt-standings {
                    @include mixin.flex(row, center, center);
                    font-size: 30px;
                    height: 52px;
                    gap: 8px;
                }

                & .--orange {
                    color: vars.$gt-orange;
                }

                & .--blue {
                    color: vars.$gt-blue;
                }
            }
        }

        & .current-player {
            @include mixin.flex(row, center, center);
            gap: 10px;

            &__indicator {
                @include mixin.flex(row, center, center);
                padding: 4px 8px;
                border-radius: 3px;
            }

            &__indicator::before {
                content: '';
                width: 25px;
                height: 32px;
                background-image: url('/src/assets/icons/chess_pawn.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                filter: brightness(0) invert(1);
            }

            &__indicator.is-orange {
                background-color: vars.$gt-orange;
            }

            &__indicator.is-blue {
                background-color: vars.$gt-blue;
            }
        }

        & button {
            @include mixin.flex(row, center, center);
            font-family: Orbitron;
            font-weight: 700;
            font-size: 20px;
            color: white;
            background-color: vars.$gt-exit-btn-bg;
            padding: 12px 20px;
            border: vars.$gt-exit-btn-border;
            border-radius: 10px;
            cursor: pointer;
            gap: 10px;

            &:hover {
                background-color: vars.$gt-exit-btn-hover-bg;
                outline: vars.$gt-exit-btn-hover-border;
                box-shadow: vars.$gt-exit-btn-hover-shadow;

                & img {
                    filter: vars.$gt-exit-btn-hover-img-color;
                }
            }
        }
    }

    & .card {
        &--matched {
            cursor: default;
        }

        &--matched-orange .card__front {
            border: 3px solid vars.$gt-orange;
            box-shadow: 0 0 14px vars.$gt-orange;
        }

        &--matched-blue .card__front {
            border: 3px solid vars.$gt-blue;
            box-shadow: 0 0 14px vars.$gt-blue;
        }

        &__back {
            border-radius: 12px;
            background: vars.$gt-card-back-bg;

            & img {
                width: 50%;
                opacity: 0.85;
            }
        }

        &__front {
            border-radius: 12px;
            background-color: vars.$gt-card-front-bg;
        }

        &--state {
            border-radius: 12px;
            border: vars.$gt-card-state-border;
            box-shadow: vars.$gt-card-state-shadow;
        }
    }

    & .dialog-inner {
        width: 35%;
        border-radius: 20px;
        color: vars.$gt-dark-blue;
        font-family: Orbitron;
        font-weight: bold;
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 2%;
        background-color: vars.$game-theme-dialog-bg;
        padding: 40px;
        gap: 40px;
    }

    & .show-dialog .dialog-inner {
        animation: dialogSlideInFromBottom 0.32s ease forwards;
    }

    & .is-closing-down.dialog-inner,
    & .is-closing-down .dialog-inner {
        animation: dialogSlideOutToBottom 0.32s ease forwards;
    }

    & .is-closing-fade.dialog-inner,
    & .is-closing-fade .dialog-inner {
        animation: dialogFadeOutSoft 0.32s ease forwards;
    }

    & dialog .dialog-inner {
        transform: translateY(600px);
    }
}

@keyframes dialogSlideInFromBottom {
    from {
        transform: translateY(600px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}