@use "../abstract/breakpoint.mixin" as bp;

@include bp.down(xl) {
	.opening {
		gap: 28px;

		& header {
			& h1 {
				font-size: 110px;
			}

			& h2 {
				font-size: 40px;
			}
		}

		& button {
			font-size: 34px;
			gap: 16px;

			& svg:first-child {
				width: 44px;
			}

			&:hover .arrow {
				width: 32px;
			}
		}
	}

	.controller-image {
		width: 320px;
	}
}

@include bp.down(lg) {
	header {
		& h1 {
			font-size: 84px;
		}

		& h2 {
			font-size: 32px;
		}
	}

	.controller-image {
		&__svg {
			width: 260px;
		}
	}
}

@include bp.down(md) {
	.opening {
		& header {
			& h1 {
				font-size: 80px;
			}

			& h2 {
				font-size: 28px;
			}
		}

		button {
			font-size: 28px;
			padding: 18px;

			& svg:first-child {
				width: 38px;
			}

			&:hover .arrow {
				width: 28px;
			}
		}
	}
}

@include bp.down(sm) {
	.opening {
		gap: 20px;

		header {
			& h1 {
				font-size: 40px;
			}

			& h2 {
				font-size: 20px;
			}
		}

		& button {
			font-size: 20px;
			padding: 14px;

			& svg:first-child {
				width: 30px;
			}

			& .arrow {
				width: 22px;
			}
		}
	}

	.controller-image {
		width: 260px;
	}
}