@use "../abstract/breakpoint.mixin" as bp;

@media (max-width: 1520px) {
	.settings {
		width: 90%;
	}
}

@include bp.down(md) {
	.settings {
		height: auto;
		min-height: 100vh;
		padding: 20px 0;
		gap: 30px;

		header {
			width: fit-content;
			max-width: 100%;

			& h1 {
				font-size: 34px;
			}

			& svg {
				width: 70%;
				height: auto;
			}
		}
	}

	.settings-content {
		flex-direction: column;
		gap: 38px;
	}

	.settings-menu {
		width: 100%;
		gap: 20px;

		& fieldset {
			width: 100%;

			& legend h2 {
				font-size: 21px;
			}

			& li {
				& input[type="radio"] {
					width: 20px;
					height: 20px;
				}

				& label {
					font-size: 18px;
				}
			}
		}
	}

	.settings-preview {
		width: 100%;
		align-items: center;
		gap: 18px;

		& image {
			max-width: 400px;
			height: auto;
			object-fit: cover;
		}
	}

	.settings-preview {
		gap: 14px;

		&__box {
			width: 100%;
			flex-direction: column;
			align-items: stretch;
			gap: 12px;
			font-size: 16px;

			& .start__button {
				width: 100%;
			}
		}
	}
}

@include bp.down(sm) {
	.settings {
		padding: 16px 12px 24px;
		gap: 20px;

		.title {
			& h1 {
				font-size: 28px;
				line-height: 0.9;
			}
		}
	}

	.settings-menu {

		& fieldset {
			& legend h2 {
				font-size: 19px;
			}

		}
	}

	
}